/* 参考サイト：http://www.htmq.com/style/ */
/* classでしている文字列を同じ文字列を「.」を先頭につけてしていする */
.mojiStyle1 {
	border-top: dashed 1px skyblue; /* ボーダーの上部： 点線 幅1px スカイブルー */
	border-bottom: dashed 1px skyblue; /* ボーダーの下部： 点線 幅1px スカイブルー */
}

.mojiStyle2 {
	text-shadow: 1px 1px 2px silver;
	font-weight: bold;
}
