/* 参考サイト：https://qiita.com/katsunory/items/99a417f4e1a763477a09 */
/* クラスに対して指定する */

.flexbox {
	display: flex;
	height: 200px;
}

.contentA {
	width: 40%;
	background-color: aquamarine;
}

.contentB {
	width: 60%;
	background-color: blueviolet;
}
