/* ボタンのcss */
button {
	border: 2px #ddd solid; /* ボーダーをつける*/
	text-align: center;
	cursor: pointer;
	background: #f0c14b;
	outline: none; /* 黒枠を削除 */
}

span {
	position: absolute;
	display: inline-block;
	margin-left: 3px;
}

.invalid-view-span {
	color: rgb(85, 85, 85);
	font-size: 16px;
	background: #ffe0f2;
	/* TODO */
	/* 表示を隠す */
	display: none;
}
/* TODO */
/* 直前のinput要素がinvalidの時の.invalid-hidden-spanクラス
	表示を隠す */
input:invalid + .invalid-view-span {
	display: inline;
}

.invalid-hidden-span {
	color: #555;
	font-size: 16px;
	background: #e0edff;
}
/* TODO */
/* 直前のinput要素がinvalidの時の.invalid-hidden-spanクラス
	表示を隠す */
input:invalid + .invalid-hidden-span {
	display: none;
}
